{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<form method="post">
  <div>
  <label for="name"></label>
  <input type="text" name="coach">
  </div>
  <div>
  <label for="name"></label>
  <input type="text" name="coach">
  </div>
  <div>
  <label for="name"></label>
  <input type="text" name="coach">
  </div>
</form>
{% endblock %}
