/* body{
  background: black;
  color: white;
} */

header{
  background-color: #ddd;
  color: white;
  margin-bottom: 20px;
}

header a{
  color: black;
}

footer{
  background-color: #444;
  font-size: .7em;
  margin-top: 40px;
}

footer a{
  color: white;
}
